.thead {
  background-color: #0500FF;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  width: calc(100% - 40px);
  padding: 18px 20px;
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}
li {
  width: 20%;
}
li:first-child {
  width: 15%;
}
li:nth-child(2) {
  width: 28%;
}
li:nth-child(5) {
  width: 17%;
}

.tbody {
  margin: 0;
  width: calc(100% - 40px);
  padding: 11px 20px;
  list-style-type: none;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}


.imageDiv {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #a9a4a4;
  background-size: cover;
  background-position: center;
  border: 1px solid #dfdfdf;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {

  .tbody {
    width: calc(100% - 40px);
  }
  li {
    display: none;
  }
  li:first-child {
    display: block;
    width: 70px;
    min-width: 70px;
  }
  li:nth-child(2) {
    width: calc(100% - 70px);
    display: block;
  }
  .mobile {
    display: block;
  }
}

